/** ========== IKANIK LOOK AND FEEL ========== **/
/** ========== VARIABLES ========== **/
/** ========== MIXINS ========== **/
/** ========== TEXT CLASSES ========== **/
.h-lg {
  font-family: 'Roboto-Medium';
  font-size: 40px;
  word-wrap: normal; }

.h-md {
  font-family: 'Roboto-Medium';
  font-size: 30px;
  word-wrap: normal; }

.h-sm {
  font-family: 'Roboto-Medium';
  font-size: 25px;
  word-wrap: normal; }

.p-lg {
  font-family: "Roboto-Regular";
  font-size: 40px;
  word-wrap: normal; }

.p-md {
  font-family: "Roboto-Regular";
  font-size: 25px;
  word-wrap: normal; }

.p-sm {
  font-family: "Roboto-Regular";
  font-size: 25px;
  word-wrap: normal; }

.symbol-lg {
  font-family: 'Roboto-Regular';
  font-size: 25px;
  word-wrap: normal; }

.symbol-sm {
  font-family: 'Roboto-Regular';
  font-size: 15px;
  word-wrap: normal; }
