footer {
    position: relative;
    min-height: 300px;
    .footerbg {
        position: absolute;
        //     top: 0;
        //     width: 100%;
        //     height: 100%;
        z-index: -1000;
    }
    ul {
        display: inline-block;
    }
}