footer {
    position: relative;
    min-height: 300px;
    .footerbg {
        position: absolute;
        z-index: -1000;
    }
    .container-fluid {
        position: absolute;
        bottom: 0;
    }
    .ct-subsrcibe {
        span {
            display: inline-block;
            font-family: "Roboto-Bold";
        }
        .text-secondary {
            text-shadow: 0 3px 6px #000000;
            font-size: 1.875rem;
        }
        .text-white {
            font-size: 1.5rem;
            text-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
        }
    }
    .text-input-group {
        border: unset;
    }
    .md-form {
        margin: 0px;
        height: 3.125rem;
        & input[type="text"]:focus:not(:read-only) {
            border-bottom: 1px solid $primary-color;
            box-shadow: 0 1px 0 0 $primary-color;
        }
    }
    .square-group {
        border-radius: 0px;
        width: 450px;
        .prefix {
            background-color: $secondary-color;
            color: #ffffff;
            height: 100%;
            width: 50px;
            margin-left: 0;
            padding: 3px 2.5px;
            top: 0;
        }
    }
    .btn-square {
        height: 50px;
        width: 50px;
        border-radius: 0px;
        background-color: $secondary-color;
        padding: 0px;
        margin: 0px 0px 0px 25px;
    }
    .footer-copyright {
        .owner {
            font-family: "Roboto-Bold";
            font-size: 1.5rem;
            text-shadow: 0 3px 6px #000000;
        }
    }
    .fast-links {
        .nav {
            display: inline-flex;
            width: calc(100%/3);
            li {
                list-style-image: url("/images/icon-play.svg");
            }
            .link {
                color: #ffffff;
                font-family: "Roboto-Medium";
                font-size: 1.1rem;
            }
        }
    }
}