/** ========== IKANIK LOOK AND FEEL ========== **/


/** ========== VARIABLES ========== **/

$primary-color-dark:#263238;
$primary-color-light:#0B2E49;
$secondary-color:#7D0000;
$cta-color:#FFDD00;
$primary-font:'Roboto-Regular';
$secondary-font:'Source-Sans-Rgular';

/** ========== MIXINS ========== **/

@mixin cta-text() {
    font-family: 'Roboto-Bold';
    font-size: 70px;
    color: $cta-color;
    text-shadow: 0 3 6 #000;
}

@mixin heading-text($font-sise) {
    font-family: 'Roboto-Medium';
    font-size: $font-size;
    color: $primary-color-dark;
    word-wrap: normal;
}

@mixin paragraph-text($font-size, $color) {
    font-family: $primary-font;
    font-size: $font-size;
    color: $color;
}

@mixin display-text() {}

@mixin symbol-text() {}