extend default
block content
    .d-flex.justify-content-end.align-items-center.mr-5.mt-2
        .md-form.search.forum-search.w-100.z-depth-1-half
                        i.fas.fa-search.prefix.fa-3x
                        input.text-input.form-control.search-text(type="search-md" placeholder="search in asked questions")
                        button.btn.btn-search
                            i.fa.fa-arrow-right
        button.btn.btn-lg.btn-new-qst
            i.fas.fa-plus.fa-2x
            |&nbsp; ask a new question
    .d-flex
        h3.text-uppercase.text-primary questions on the forum
        .filters-forum.d-flex
            .dropdown
                btn.btn.dropdown-toggle.text-primary.bg-transparent(id="fr-category-filter" data-toggle="dropdown") category
                .dropdown-menu.dropdown-menu-right.text-capitalize(aria-labelledby="fr-category-filter")
                    btn.dropdown-item phone
                    btn.dropdown-item desktop
                    btn.dropdown-item laptop
                    btn.dropdown-item others
            .dropdown
                btn.btn.dropdown-toggle.text-primary.bg-transparent(id="complexity-filter" data-toggle="dropdown") complexity
                .dropdown-menu.dropdown-menu-right.text-capitalize(aria-labelledby="complexity-filter")
                    btn.dropdown-item simple
                    btn.dropdown-item complex
            .dropdown
                btn.btn.dropdown-toggle.text-primary(id="time-filter" data-toggle="dropdown") time
                .dropdown-menu.dropdown-menu-right.text-capitalize(aria-labelledby="time-filter")
                    btn.dropdown-item today
                    btn.dropdown-item this week
                    btn.dropdown-item last 2 weeks
            .dropdown
                btn.btn.dropdown-toggle.text-primary(id="answers-filter" data-toggle="dropdown") answers
                .dropdown-menu.dropdown-menu-right.text-capitalize(aria-labelledby="answers-filter")
                    btn.dropdown-item not answered
                    btn.dropdown-item answered
    ul.tabs.bg-primary
        li.tab
            a.active( href="#panel1") By Question
        li.tab
            a( href="#panel2") By Device
    
    .card-forum.card.mb-4
        div(id="panel1")
            .list-group
                .list-group-item.d-flex.justify-content-between.form-list
                    div 
                        .forum-qst My screen in black and nothing seems to work!
                        a.forum-qst-device(href="#") ZTE ZMax Pro
                    div
                        div Asked 24 minutes ago by &nbsp;
                            a.forum-qst-user.text-capitalize(href="#") kasim
                        .forum-qst-details
                            .forum-qst-situation No Answer 
                            a.forum-qst-comments(href="#") 30 comments
                
                
                
        div(id="panel2")
            br
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                |reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
                |porro voluptate odit minima.2

block scripts
    script(src="/js/materialize.min.js")
    script $(document).ready(function() {$('.tabs').tabs();})
        
        