extend default
block content
    img.img-fluid.bg-home(src="/images/E-Waste-cr.jpg")
    .jumbotron-fluid
        .d-flex.flex-column.align-items-center.overlay
            .cta-text Don't send it to the landfill
            .cta-text.text-uppercase fix it!
            .md-form.search.home-search.z-depth-1-half
                    i.fas.fa-search.prefix.fa-3x
                    input.text-input.form-control.search-text(type="search-md" placeholder="What do you want to repair today?")
                    button.btn.btn-search
                        i.fa.fa-arrow-right
    .container-fluid.mt-3 
        i.fas.fa-book-open.fa-2x.text-secondary.ml-2
        h3.text-primary.d-inline-block.ml-2 Guides you can follow
        .guides.mb-3
            .card.guide-card
                img.card-img-top(src="/images/disk.jpg")
                .card-body 
                    p.guide-title How to fix a crashing ssd drive with simple tools.
                    .card-options
                        a.text-white(href="#")
                            i.text-secondary.fas.fa-user
                            |&nbsp; avPaul
                        a.text-white(href="#")
                            i.text-secondary.fas.fa-eye
                            |&nbsp;342
            .card.guide-card
                img.card-img-top(src="/images/disk.jpg")
                .card-body 
                    p.guide-title How to fix a crashing ssd drive with simple tools.
                    .card-options
                        a.text-white(href="#")
                            i.text-secondary.fas.fa-user
                            |&nbsp; avPaul
                        a.text-white(href="#")
                            i.text-secondary.fas.fa-eye
                            |&nbsp;342
            .card.guide-card
                img.card-img-top(src="/images/disk.jpg")
                .card-body 
                    p.guide-title How to fix a crashing ssd drive with simple tools.
                    .card-options
                        a.text-white(href="#")
                            i.text-secondary.fas.fa-user
                            |&nbsp; avPaul
                        a.text-white(href="#")
                            i.text-secondary.fas.fa-eye
                            |&nbsp;342
            .card.guide-card
                img.card-img-top(src="/images/disk.jpg")
                .card-body 
                    p.guide-title How to fix a crashing ssd drive with simple tools.
                    .card-options
                        a.text-white(href="#")
                            i.text-secondary.fas.fa-user
                            |&nbsp; avPaul
                        a.text-white(href="#")
                            i.text-secondary.fas.fa-eye
                            |&nbsp;342
            .card.guide-card
                img.card-img-top(src="/images/disk.jpg")
                .card-body 
                    p.guide-title How to fix a crashing ssd drive with simple tools.
                    .card-options
                        a.text-white(href="#")
                            i.text-secondary.fas.fa-user
                            |&nbsp; avPaul
                        a.text-white(href="#")
                            i.text-secondary.fas.fa-eye
                            |&nbsp;342
            .card.guide-card
                img.card-img-top(src="/images/disk.jpg")
                .card-body 
                    p.guide-title How to fix a crashing ssd drive with simple tools.
                    .card-options
                        a.text-white(href="#")
                            i.text-secondary.fas.fa-user
                            |&nbsp; avPaul
                        a.text-white(href="#")
                            i.text-secondary.fas.fa-eye
                            |&nbsp;342
        i.fas.fa-screwdriver.fa-2x.text-secondary.ml-2
        h3.text-primary.d-inline-block.ml-2 Tools you can use
        .products.mb-3
            .card.product-card
                .left
                    .product-title lorem ipsum
                    .card-body
                        .product-price 34 500frw
                        .product-rating.text-cta
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star-half
                        .product-description Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.Excepteur sint occaecat cupidatat non proident.
                    .card-actions
                        btn.btn.btn-md.add-to-cart
                            i.fa.fa-plus
                            | &nbsp; add to cart
                .right
                    img.product-img(src="/images/reptool-1.jpg", alt="")
            .card.product-card
                .left
                    .product-title lorem ipsum
                    .card-body
                        .product-price 34 500frw
                        .product-rating.text-cta
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star-half
                        .product-description Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.Excepteur sint occaecat cupidatat non proident.
                    .card-actions
                        btn.btn.btn-md.add-to-cart
                            i.fa.fa-plus
                            | &nbsp; add to cart
                .right
                    img.product-img(src="/images/reptool-1.jpg", alt="")
            .card.product-card
                .left
                    .product-title lorem ipsum
                    .card-body
                        .product-price 34 500frw
                        .product-rating.text-cta
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star-half
                        .product-description Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.Excepteur sint occaecat cupidatat non proident.
                    .card-actions
                        btn.btn.btn-md.add-to-cart
                            i.fa.fa-plus
                            | &nbsp; add to cart
                .right
                    img.product-img(src="/images/reptool-1.jpg", alt="")
        .call-to-action.mb-3
            h1.cta-heading.text-uppercase.text-center we can't waste the waste
            .cta-cards
                .card
                    .card-body.text-center 
                        span.text-bold IKANIK 
                        |&nbsp;is a community commited to repairing every electronic until the end.
                    img.card-img-bottom(src="/images/repair-man.jpg")
                .card.rounded-0.mx-2
                    .card-body.text-center When we can't use it we 
                        span.text-bold donate
                        |&nbsp;it so that we can help the next generation of innovators.
                    img.card-img-bottom(src="/images/std-3.jpg")
                .card
                    .card-body.text-center When we can't repair it we 
                        span.text-bold recycle
                        |&nbsp; it so that our environment stays healthy.
                    img.card-img-bottom.last(src="/images/recycle.jpg")