<!DOCTYPE html>
html.h-100(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="shortcut icon", href="./images/ikanik-red-192.png", type="image/png")
        link(rel="stylesheet", href="./node_modules/mdbootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="./node_modules/mdbootstrap/css/mdb.css")
        link(rel="stylesheet", href="./styles/css/main.css")
        link(rel="stylesheet", href="./styles/css/utilities/absNav.css")
        title= title
    body.h-100
       
        //- Navigation
        img.body-bg(src="/images/logbg.jpg")
        //- div.body-bg-cover
        svg.nav-bg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 115" style="enable-background:new 0 0 1920 115;" xml:space="preserve")
            style(type="text/css") .st0{fill:#0B2E49;}
            path(class="st0 .z-depth-1" d="M1920,0v115C1920,115,7.8,43.8,0,45V0H1920z")
        nav.navbar-expand
                .brand-wrapper
                    a.brand-logo.waves-effect(href='#')
                        img(src="./images/ikanik-red-192.svg", alt="Ikanik")
                .navbar-nav.justify-content-end   
                    ul.nav
                        li.nav-item
                            a.nav-link.active(href="#") HOME   
                        li.nav-item
                            a.nav-link(href="#") GUIDES   
                        li.nav-item
                            a.nav-link(href="#") FORUM   
                        li.nav-item
                            a.nav-link(href="#") RECYCLE   
                        li
                            a.nav-link(href="#") SHOP    
                        li.nav-item
                            a.nav-link(href="#") INOVCLASS  

        //- Login components
        .container-fluid.d-flex.justify-content-center
            form.login-form
                .md-form.text-input-group
                    i.fas.fa-user.prefix
                    input.form-control.text-input(type="text" id="lgn-username" placeholder="Username")
                .md-form.text-input-group
                    i.fas.fa-lock.prefix
                    input.form-control.text-input(type="password" id="lgn-password" placeholder="Password")
                .form-row.justify-content-end
                    button.btn-cyan.btn.text-capitalize Log in
                .form-row.flex-column.mt-2
                    a.nav-link(href="/newpassword") Forgot password?
                    a.nav-link(href="/signup") Or you don't have an account?
                
        //- Footer
        footer.fixed-bottom
            svg.footerbg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 400" style="enable-background:new 0 0 1920 400;" xml:space="preserve")
                style(type="text/css") .st0{fill:#0B2E49;}
                path(class="st0" d="M0,400L0,0c0,0,1912.2,104.2,1920,100v300L0,400z")
            .container-fluid
                .row
                    .col-5
                        .ct-subsrcibe.mb-4
                            span.text-secondary Subscribe to ikanik via email
                            span.text-white We will share with you the latest repair tips
                        div
                            .md-form.text-input-group.square-group.d-inline-block
                                i.fas.fa-envelope.prefix
                                input.form-control(type="text" id="sub-email" placeholder="Your email")
                            button.btn-flat.btn-square.btn
                                i.fas.fa-check.fa-2x 
                    .col-7.fast-links
                        ul.nav.flex-column
                            li
                                a.link(href="#") FIND A STORE
                            li 
                                a.link(href="#") FIND A RECYCLE POINT
                            li 
                                a.link(href="#") DONATE TO INNOV CLASS
                            li 
                                a.link(href="#") FAQ
                        ul.nav.flex-column 
                            li
                                a.link(href="#") CONTACT US
                            li
                                a.link(href="#") ORDERING & PAYMENT
                            li
                                a.link(href="#") SHIPPING
                            li
                                a.link(href="#") RETURNS
                        ul.nav.flex-column
                            li
                                a.link(href="#") ABOUT IKANIK
                            li
                                a.link(href="#") VOLUNTEER WITH US
                            li
                                a.link(href="#") PRIVACY POLICY
                            li
                                a.link(href="#") TERMS & CONDITIONS
                            li
                                a.link(href="#") PRESS ENQUIRIES
                .row.justify-content-between.text-white.mt-3.mx-3.mb-1
                    div.footer-copyright.text-center
                        i.fas.fa-copyright.fa-2x.mr-2.text-secondary 
                        span.text-uppercase.owner ikanik 2018
                    div
                        i.fas.fa-envelope.fa-2x.mr-3  
                        i.fab.fa-twitter.fa-2x.mr-3 
                        i.fab.fa-instagram.fa-2x.mr-3
                        i.fab.fa-facebook.fa-2x 
                        

                 
                        
        script(src="/js/vendor/fontawesome.all.js")
        script(src="./node_modules/mdbootstrap/js/jquery-3.3.1.min.js")
        script(src="./node_modules/mdbootstrap/js/popper.min.js")
        script(src="./node_modules/mdbootstrap/js/bootstrap.js")
        script(src="./node_modules/mdbootstrap/js/mdb.js")
        script(src="./js/main.js")
        block scripts